.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 145px;
  object-fit: contain;
  margin: 10px 10px 0px 10px;
}
.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.header__dropDownList {
  height: 40px;
  margin: 0;
  width: fit-content;
  border-radius: 3px 0px 0px 3px;
  background-color: rgb(243, 243, 243);
}
.header__searchInput {
  height: 21px;
  padding: 7px 10px 10px 0;
  border: none;
  width: 100%;
}
.header__searchIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 38px;
  background-color: rgb(254, 189, 105);
  border-radius: 0 3px 3px 0;
}
.header__searchIcon > svg {
  padding: 10px;
}
.header__locationBox {
  display: flex;
  align-items: flex-end;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__clickable {
  position: relative;
}
.header__option {
  display: flex;
  color: white;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
.header__optionLineOne {
  font-size: 12px;
}
.header__optionLineTwo {
  font-size: 13px;
  font-weight: 700;
}
.header__cartSVG {
  fill: #fff;
}
.header__locationTextBox {
  margin-left: 0;
}

.nav__bar {
  background-color: rgb(35, 47, 62);
  height: 39px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
.nav__item {
  color: white;
  padding: 8px 9px;
  cursor: pointer;
}
.nav__hamburger {
  margin-left: 11px;
  font-weight: 600;
}
.sideBar {
  width: 365px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -375px;
  z-index: 999;
  background: #333;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
}
.sideBar.active {
  left: 0;
}
.nav__flyout {
  width: 500px;
  height: 500px;
  z-index: 999;
  background-color: white;
  position: absolute;
  left: -300px;
  top: 100%;
  padding: 14px;
}
.darkOverlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: white;
  font-size: 26px;
}

.darkOverlay.active {
  display: block;
  opacity: 1;
}
.closeBtn {
  position: absolute;
  color: white;
  left: 380px;
  top: 20px;
  cursor: pointer;
  background-image: url(https://images-na.ssl-images-amazon.com/images/G/32/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936659_.png);
  background-position: -190px -288px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.flyout__column {
  width: 50%;
  padding-left: 20px;
}
.flyout__column > h3 {
  font-size: 16px;
  font-weight: 700;
  color: #0f1111;
  padding: 0 0 10px;
}
.flyout__clickable {
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  color: #444;
  cursor: pointer;
  padding: 0 0 7px;
  text-decoration: none;
}
.flyout__clickable:hover {
  text-decoration: underline;
  color: #e47911;
}
.flyout__right {
  border-left: 1px solid #eee;
}
.header__cartSVG {
  position: absolute;
}
.header__optionLineThree {
  color: #f08804;
  font-weight: 600;
  margin-left: 5px;
  margin-top: -7px;
}
.header__cartBtn {
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
}
