.profile {
  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__container {
  width: 600px;
  height: fit-content;
  border: 1px solid lightgray;
  padding: 20px 20px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 22px;
}
.profile__title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
  padding-bottom: 4px;
}
.profile__picture {
  object-fit: contain;
  height: 50px;
}
.profile__title > h2 {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 400;
  color: #111;
}
.profile__form {
  display: flex;
  flex-direction: column;
}
.profile__form > label {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 700;
  padding: 2px 2px;
}
.profile__form > input {
  height: 23px;
  padding: 3px 7px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
}
.profile__button {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  margin-top: 14px;
  color: #111;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  text-align: center;
  height: 29px;
  font-size: 14px;
  text-decoration: none !important;
}
.profile__button:hover {
  background: #f0c14b;
}
